<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Owllang</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" >
  </head>

  <body style = "background-color: #F8FCFC; min-height:100vh;">
    <nav class="navbar navbar-light" style = "background-color: #8EDBD3;">
      <div class="container">
        <a class="navbar-brand" href="/" style = "color: black;">
            <img src="<%= Routes.static_path(@conn, "/images/black-owl.png") %>" width="30" height="30" class="d-inline-block align-top" alt="">
          Owllang
        </a>
        <%= if Guardian.Plug.current_resource(@conn) do %>
          <%= button("Logout", to: Routes.user_path(@conn, :logout), class: "btn btn-outline-danger my-2 my-sm-0") %> 
        <% else %>
          <%= link("Login", to: Routes.user_path(@conn, :login), class: "btn btn-outline-primary my-2 my-sm-0") %>
        <% end %>
      </div>
    </nav>
      <main role="main" style = " font-family: 'Khula', sans-serif;">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
